COMPOSE_PROJECT_NAME=fvn_li_bot
COMPOSE_NETWORK_NAME=fvn_li
DISCORD_API_KEY=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_ADMIN_ID=
DISCORD_NOTIFICATIONS_CHANNEL_ID=
LARAVEL_API_URL=
LARAVEL_API_TOKEN=